# Data Types and Structures Questions

1. What are data structures, and why are they important?

     -> Data structures are specialized formats for organizing, storing, and  managing data in a computer, allowing efficient access and modification.   Common examples include arrays, linked lists, stacks, queues, trees and graphs. They are important because they make storage and access faster and more efficient,helping programs run better and solve problems easily.

2.  Explain the difference between mutable and immutable data types with examples.

     -> Mutable data types are those whose values that can be changed after they are created. We can add, modify or remove elements without creating a new object.Examples of mutable data types include list ,dictionaries and set.

     Immutable data types are those values which cannot be changed once they are created. Any modification results in new objects.Examples of immutable data types include strings, tuple and numbers(integers and float)

3. What are the main differences between lists and tuples in Python?

     -> Lists are mutable, meaning their elements can be changed, added,or removed. They are defined using square brackets```[]```.

     Tuples are immutable, so their elements cannot be changed once created.They are defined using parentheses```()```.

4.  Describe how dictionaries store data.

    -> Dictionaries in Python store data as key-value pairs,where each unique key is associated with a value. This allows efficient access,addition,and modification of data using the key.Internally,dictionaries use a hash table to quickly look up keys,making data retrieval very fast.Keys must be immutable types like  string or numbers,while values can be of any data type. The structures make dictionaries useful for organizing and managing data identified by unique data.

5.  Why might you use a set instead of a list in Python?

     -> You might use a set instead of a list in Python when you want to store unique elements without duplicates,as sets automatically eliminate duplicate values. Sets also offer faster membership testing(checking if an item is in the collection)compared to the lists. Additionally, sets support useful mathematical operations like union,intersection,and difference for comparing and combining.

6. What is a string in Python, and how is it different from a list?

     -> A string in Python is a sequence of characters used to represent text. Strings are immutable,meaning their content cannot be changed once created.They are enclosed in single quotes```(...)``` or double quotes```("...")```.
     
     A list is a collection of items that can be of different data types and is mutable, meaning its elements can be changed,added or removed. Lists are enclosed in square brackets```[...]```.

7. How do tuples ensure data integrity in Python?

     -> Tuples ensure data integrity in Python because they are immutable,meaning once a tuple is created its content cannot be changed,added or removed. This immutability protects the data from accidental modification,making tuples ideal for storing fixed collection of items that should remain constant throughout the program.By preventing changes, tuples help maintain the consistency and reliability of the data.

8. What is a hash table, and how does it relate to dictionaries in Python?

     -> A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index for storing each key. In Python dictionaries are implemented using hash tables, which allows fast data access, insertion and deletion based on the keys.

9. Can lists contain different data types in Python?


     -> Yes, lists in Python can contain different data types. A single list can  hold integers,strings, floats and booleans,or even other lists and objects.

     Example:
    ```
     my_list = [1, "hello", 2.34, "true", [3,5]]
    ```

10.  Explain why strings are immutable in Python.

     -> Strings are immutable in Python to ensure data integrity,security and performance.Once a string is created it cannot be changed.This makes string safer to use in programs,especially when they are shared across different parts of code. It also allows Python to optimize memory use by reusing string objects.

11. What advantages do dictionaries offer over lists for certain tasks?

     -> Dictionaries offer faster data access using keys and are better for tasks where data needs to be labeled or associated with unique identifiers.They make it easier to store and retrieve related information,like a person's name and age,without relying on index positions.

12. Describe a scenario where using a tuple would be preferable over a list.

     -> A tuple is preferable over a list when you need to store a fixed set of values that should not change. For example,storing user credentials like ```(username,password)``` as an immutable pair is best done with a tuple to ensure the data remains unchanged and secure.

13. How do sets handle duplicate values in Python?

     -> Sets automatically remove duplicate values.When you add elements to a set,any duplicates are ignored,so each element in a set is unique. This makes sets useful for storing collections of distinct items.

14. How does the “in” keyword work differently for lists and dictionaries.

     -> In lists,the```in``` keyword checks if a value exists in the list.

      In dictionaries ,the ```in```keyword checks if a key exists, not a value.

     Example:
     ```
     # List
     my_list = [1, 2, 3]
     print(1 in my_list)  # True (checks values)

     # Dictionary
     my_dict = {"a": 1, "b": 2}
     print("b" in my_dict)  # True (checks keys)
     print(2 in my_dict)    # False (does not check values)
     ```

 15. Can you modify the elements of a tuple? Explain why or why not.

  -> No, you cannot modify the elements of a tuple because tuples are   immutable. Once a tuple is created its contents cannot be changed ,added or removed. This immutability ensures data integrity and makes tuples useful for storing fixed collections of data.

16. What is a nested dictionary, and give an example of its use case?

     -> A nested dictionary is a dictionary that contains another dictionary as value for one or more keys.It allows you to organize complex data with multiple levels.

     Example use case:
     A nested dictionary can store employee data, where each employee ID maps to another dictionary with details like name, department, and contact info.
    ```
     employees={
       "E001":{"name": "Gia ","department": "Sales", "contact":{"email": "gia@gmail.com","phone": 7845896548}},
       "E002":{"name": "Evan","department":"HR","contact":{"email":"evan@gmail.com","phone": 8459756985}},}
    ```

17.  Describe the time complexity of accessing elements in a dictionary.

     -> Accessing elements in a dictionary generally has a time complexity of   O(1) , meaning it takes constant time regardless of the dictionary size. This is because dictionaries use a hash table,allowing quick lookups by key. In rare cases,due to hash collisions the time complexity can degrade to O(n),where n is the number of elements,but this is uncommon with good hash functions.

 18. In what situations are lists preferred over dictionaries?

     -> Lists are preferred over dictionaries when you need an ordered collection of items,especially when the order matters or you want to access elements by their position(index). lists are also better when you have duplicate values or when you need to store simple sequences without key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

     -> Dictionaries were considered unordered in Python versions before 3.7 because they did not preserve the order of key-value pairs.This meant the order of items could change, but this didn't affect data retrieval since access is always by key,not by position. From Python 3.7 onwards, dictionaries preserve insertion order, but they are still accessed by key, so the order usually does not affect data retrieval.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

     -> Lists retrieve data by index, which means you can access elements based on their position in the list. This can be slower for large lists since you may need to search through elements.

     Dictionaries retrieves data by key,allowing faster access because they use a hash table to quickly find values associated with unique keys.

#  Practical Questions

1.  Write a code to create a string with your name and print it.

In [ ]:
name = "Riya Arora"
print(name)

Riya Arora

2. Write a code to find the length of the string "Hello World".

In [ ]:
s = "Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
x = "Python Programming"
print(x[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a = "I like apple."
print(a.replace("apple", "orange"))

I like orange.

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list =  ['a', 'b', 'c', 'd']
print(my_list[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
original_list =  [10, 20, 30, 40, 50]
reversed_list = original_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple =(100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
min_num = (10, 20, 5, 15)
print(min(min_num))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
elements =  ('dog', 'cat', 'rabbit')
print(elements.index('cat'))

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "kiwi", "mango")
if "kiwi" in fruits:
  print("kiwi is in the tuple.")
else:
  print("kiwi is not in the tuple.")

kiwi is in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {"a","b","c"}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
num = {1, 2, 3, 4}
num.remove(4)
print(num)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a = {1, 2, 3}
b = { 3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
num1 = {1, 2, 3}
num2 ={2, 3, 4}
print(num1.intersection(num2))

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
intro = {"name":"Gia", "age": 20, "city" :"Jaipur"}
print(intro)

{'name': 'Gia', 'age': 20, 'city': 'Jaipur'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] ="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
name_value =  {'name': 'Alice', 'age': 30}
print(name_value["name"])

Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
data.pop("age")
print(data)

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
info = {'name': 'Alice', 'city': 'Paris'}
if "city" in info:
  print("city is in the dictionary.")
else:
  print("city is not in the dictionary")

city is in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lis = [1,2,3,4,5] # list
tupl =('a','b','c','d') # tuple
dic = {"name":"Evan", "age": 20 , "city":"Pune"} # dictionary
print("List:",lis)
print("Tuple:",tupl)
print("Dictionary:",dic)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c', 'd')
Dictionary: {'name': 'Evan', 'age': 20, 'city': 'Pune'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [ ]:
import random
random_numbers = random.sample(range(1,101),5)
random_numbers.sort()
print(random_numbers)

[5, 16, 62, 79, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
countries = ["India", "USA", "UK", "Germany", "Japan"]
print(countries[3])

Germany

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name": "Lana" , "age": 19}
dict2 = {"country":"Germany", "email": "lana@gmail.com"}
dict1.update(dict2)
print(dict1)

{'name': 'Lana', 'age': 19, 'country': 'Germany', 'email': 'lana@gmail.com'}

30. Write a code to convert a list of strings into a set.

In [ ]:
users = ["gia", "evan", "charlie", "nick"]
my_set = set(users)
print(my_set)

{'gia', 'evan', 'charlie', 'nick'}